.context-menu-position-wrap {
  position: absolute;
}

.context-menu {
  position: relative;
  width: 250px;
  background-color: white;
}

.context-menu-item {
  position: relative;
  min-height: 20px;
  margin: 5px 0;
  overflow: visible;
}

.sub-context-menu {
  position: relative;
  width: 250px;
}

.sub-context-menu-abs {
  position: absolute;
}