.context-menu-position-wrap {
  position: absolute;
}

.context-menu {
  position: relative;
  width: 250px;
  background-color: white;
}

.context-menu-item {
  position: relative;
  min-height: 20px;
  margin: 5px;
  overflow: visible;
  cursor: pointer;
  padding:5px;
}

.sub-context-menu {
  position: relative;
  width: 250px;
  background-color: white;
  z-index: 99;
}

.sub-context-menu-abs {
  position: absolute;
}